@model Model.EF.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
.
<div id="page_content_inner">
    <h2 class="heading_b uk-margin-bottom">QUẢN LÝ TÀI KHOẢN NGƯỜI DÙNG</h2>
    <div class="md-card uk-margin-large-bottom">
        <div class="md-card-content">
            <h3 style="border: 1px solid rgb(33, 150, 243); padding: 15px 15px; background-color: rgb(33, 150, 243); color: white; font-size: 15px;">THÔNG TIN CHI TIẾT</h3>
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-1 parsley-row">
                        <label>@Html.DisplayNameFor(model => model.Name)<span class="req">*</span></label>
                        <input readonly type="text" name="Name" id="Name" required class="md-input" value="@Model.Name" />
                    </div>
                </div>

                <div class="uk-grid">
                    <div class="uk-width-medium-1-1 parsley-row">
                        <label>@Html.DisplayNameFor(model => model.UserName)<span class="req">*</span></label>
                        <input readonly type="text" name="UserName" id="UserName" required class="md-input" value="@Model.UserName" />
                    </div>
                </div>

                <div class="uk-grid">
                    <div class="uk-width-medium-1-1 parsley-row">
                        <label>@Html.DisplayNameFor(model => model.Password)<span class="req">*</span></label>
                        <input readonly type="text" name="Password" id="Password" required class="md-input" value="@Model.Password" />
                    </div>
                </div>

                <div class="uk-grid">
                    <div class="uk-width-medium-1-2 parsley-row">
                        <label>@Html.DisplayNameFor(model => model.Email)<span class="req">*</span></label>
                        <input readonly type="text" name="Email" id="Email" required class="md-input" value="@Model.Email" />
                    </div>
                    <div class="uk-width-medium-1-2 parsley-row">
                        <label>@Html.DisplayNameFor(model => model.Phone)<span class="req">*</span></label>
                        <input readonly type="text" name="Phone" id="Phone" required class="md-input" value="@Model.Phone" />
                    </div>
                </div>

                <div class="uk-grid">
                    <p class="uk-width-medium-1-1 parsley-row">
                        <label>@Html.DisplayNameFor(model => model.Status)<span class="req">*</span></label>
                        <input readonly type="button" @(Model.Status ? Html.Raw("class = 'md-btn md-btn-primary'") : Html.Raw("class = 'md-btn md-btn-danger'") ) data-val="true" name="Status" id="Status" value="@(Model.Status ? "Kích hoạt" : "Khóa")" data-md-icheck />
                    </p>
                </div>
                <div id="user_profile_gallery" data-uk-check-display class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4" data-uk-grid="{gutter: 4}">
                    <div>
                        <label>@Html.DisplayNameFor(model => model.Image)<span class="req">*</span></label>
                        <br />
                        <a href="@Model.Image" data-uk-lightbox="{group:'user-photos'}">
                            <img src="@Model.Image" alt="" />
                        </a>
                    </div>
                </div>
                <br />
                <div class="uk-input-group">
                    <a href="@Url.Action("Edit", "User", new { id = Model.ID})" class="md-btn md-btn-danger">CHỈNH SỬA</a>
                    <a href="@Url.Action("Index", "User")" class="md-btn md-btn-warning">QUAY LẠI DANH SÁCH</a>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
</script>