@model Model.EF.Regulation

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
@section jsFooter{
    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })
        var editor1 = CKEDITOR.replace('txtDetails', {
            customConfig: '/Assets/admin/js/plugins/ckeditor/config.js',
        });
        var editor2 = CKEDITOR.replace('txtAchievements', {
            customConfig: '/Assets/admin/js/plugins/ckeditor/config.js',
        });
    </script>
}
<div id="page_content_inner">
    <h2 class="heading_b uk-margin-bottom">QUẢN LÝ THÔNG TIN QUY ĐỊNH</h2>
    <div class="md-card uk-margin-large-bottom">
        <div class="md-card-content">
            <h3 style="border: 1px solid rgb(33, 150, 243); padding: 15px 15px; background-color: rgb(33, 150, 243); color: white; font-size: 15px;">THÊM MỚI QUY ĐỊNH</h3>
            <div class="md-card-content">
                @using (Html.BeginForm("Create", "Regulations", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1 parsley-row">
                            <label>@Html.DisplayNameFor(model => model.Name)<span class="req">*</span></label>
                            <input type="text" name="Name" id="Name" required class="md-input" />
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1 parsley-row">
                            <label>@Html.DisplayNameFor(model => model.Code)<span class="req">*</span></label>
                            <input type="text" name="Code" id="Code" required class="md-input" />
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2 parsley-row">
                            <label>@Html.DisplayNameFor(model => model.MetaTitle)<span class="req">*</span></label>
                            <input type="text" name="MetaTitle" id="MetaTitle" required class="md-input" />
                        </div>
                        <div class="uk-width-medium-1-2 parsley-row">
                            <label>@Html.DisplayNameFor(model => model.CategoryID)<span class="req">*</span></label>
                            @Html.DropDownListFor(model => model.CategoryID, ViewBag.CategoryList as SelectList, new { @class = "md-input" })
                        </div>
                    </div>
                    <div class="uk-grid uk-grid-width-medium-1-2" data-uk-grid-margin>
                        <div class="parsley-row">
                            <div class="uk-input-group">
                                <span class="uk-input-group-addon">
                                    <i class="material-icons">&#xE0CD;</i>
                                </span>
                                <label>@Html.DisplayNameFor(model => model.Phone)<span class="req">*</span></label>
                                <input type="text" name="Phone" id="Phone" required class="md-input" />
                            </div>
                        </div>
                        <div class="parsley-row">
                            <div class="uk-input-group">
                                <span class="uk-input-group-addon">
                                    <i class="material-icons">&#xE0BE;</i>
                                </span>
                                <label>@Html.DisplayNameFor(model => model.Email)<span class="req">*</span></label>
                                <input type="text" name="Email" id="Email" required class="md-input" />
                            </div>
                        </div>
                    </div>

                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2 parsley-row">
                            <label>@Html.DisplayNameFor(model => model.Address)<span class="req">*</span></label>
                            <input type="text" name="Address" id="Address" required class="md-input" />
                        </div>
                        <div class="uk-width-medium-1-2 parsley-row">
                            <label>@Html.DisplayNameFor(model => model.Manager)<span class="req">*</span></label>
                            <input type="text" name="Manager" id="Manager" required class="md-input" />
                        </div>
                    </div>

                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2 parsley-row">
                            <label>@Html.DisplayNameFor(model => model.Money)<span class="req">*</span></label>
                            <input type="text" name="Money" id="Money" required class="md-input" />
                        </div>
                    </div>


                    @*<div class="uk-grid">
                            @Html.LabelFor(model => model.ViewCount, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ViewCount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ViewCount, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    @*<div class="uk-grid">
                            @Html.LabelFor(model => model.Language, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Language, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Language, "", new { @class = "text-danger" })
                            </div>
                        </div>*@


                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2 parsley-row">
                            <label>@Html.DisplayNameFor(model => model.MetaDescriptions)<span class="req">*</span></label>
                            <input type="text" name="MetaDescriptions" id="MetaDescriptions" required class="md-input" />
                        </div>
                        <div class="uk-width-medium-1-2 parsley-row">
                            <label>@Html.DisplayNameFor(model => model.MetaKeywords)<span class="req">*</span></label>
                            <input type="text" name="MetaKeywords" id="MetaKeywords" required class="md-input" />
                        </div>
                    </div>

                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2 parsley-row">
                            <label>@Html.DisplayNameFor(model => model.CreatedDate)<span class="req">*</span></label>
                            <input type="text" name="CreatedDate" id="CreatedDate" required class="md-input" value="@DateTime.Now.ToString()" />
                        </div>
                        <div class="uk-width-medium-1-2 parsley-row">
                            <label>@Html.DisplayNameFor(model => model.CreatedBy)<span class="req">*</span></label>
                            <input type="text" name="CreatedBy" id="CreatedBy" required class="md-input" />
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1 parsley-row">
                            <p>
                                <label>@Html.DisplayNameFor(model => model.Status)<span class="req">*</span></label>
                                <input type="checkbox" data-val="true" id="Status" name="Status" value="true" data-md-icheck>
                            </p>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="uk-form-row">
                                <label>@Html.DisplayNameFor(model => model.Description)<span class="req">*</span></label>
                                <textarea cols="30" rows="2" class="md-input" id="Description" name="Description"></textarea>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.Details)<span class="req">*</span></label>
                        @Html.TextAreaFor(model => model.Details, new { htmlAttributes = new { @class = "form-control" }, id = "txtDetails" })
                        @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.Achievements)<span class="req">*</span></label>
                        @Html.TextAreaFor(model => model.Achievements, new { htmlAttributes = new { @class = "form-control" }, id = "txtAchievements" })
                        @Html.ValidationMessageFor(model => model.Achievements, "", new { @class = "text-danger" })
                    </div>

                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1 parsley-row" style="display: inline">
                            <label for="Image">ẢNH ĐẠI DIỆN (609x406)</label>
                            <br />
                            <div class="uk-form-file md-btn lg md-btn-success" id="btnSelectImage">
                                <input style="width:100%" placeholder="Chọn hình ảnh..." class="form-control" id="txtImage" name="Image" readonly title="Vui lòng click vào để upload hình ảnh" />
                            </div>
                        </div>
                    </div>
                    <br />
                    @*<div class="uk-width-large-1-4 uk-width-medium-1-2">
                            <div class="uk-input-group">
                                <label>Button addon</label>
                                <input type="text" class="md-input" />
                                <span class="uk-input-group-addon"><a class="md-btn" href="#">Save</a></span>
                            </div>
                        </div>*@
                    <div class="uk-input-group">
                        <input type="submit" class="md-btn md-btn-primary" value="Tạo mới" />
                        <a href="@Url.Action("Index", "Regulations")" class="md-btn md-btn-danger">HỦY BỎ</a>
                        <a href="@Url.Action("Index", "Regulations")" class="md-btn md-btn-warning">QUAY LẠI DANH SÁCH</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
</script>